<!DOCTYPE html>
<html>
<head>
    <title> The LOTR bot is running</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

{{{body}}}
<!--<img src="/images/birdo.jpg">-->

<hr>
<a href="about"> About this site</a>

</body>
</html>