<!doctype html>
<html>
<head>
    <title>The Lord Of The Rings Bot</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<center>
    <marquee onMouseover=”this.scrollAmount=2″ onMouseout=”this.scrollAmount=8″ height=”34″ width=”713″>Welcome to the infamous Fancy Gollum's Lord of The Rings Twitter Bot *currently banned* </marquee>
    <h1>Lord of the Rings Twitter Bot</h1>
<p><a href="https://twitter.com/PartyGollum" class="link">LOTR Bot</a> </p>
<p> <br>Currently, I am suspended from posting on Twitter. FUN!
    However, I had a blast making this bot. The LOTR Bot's name is Fancy Gollum and he does a
    </br> range of really cool stuff. He can retweet  Lord of the Rings tweets from other users and favorite
    other users Lord of The Rings tweets found on twitter. He </br> can also tweet his own Lord of the Rings
    based memes which he found on giphy. Through an API, Fancy Gollum sifts through the millions of gifs on </br>
    on giphy to find the truly delighful lord of the rings memes. He then posts them on his twitterfeed for all to see.
    Last but not least Fancy Gollum,</br> responds Lord of the Rings quotes to twitter users who have #hashtagged #LOTR. </p>
    <img src="/images/lotrpic.jpg" alt="Lord of the Rings" style="width:1000px;height:500px;"></br>
    In the next iteration of Fancy Gollum's Twitter Bot , he will then tweet meme's of "my precious" and selfies of himself
    to girls tweeting about rings. </br>Go follow Fancy Gollum, I know you want to!

</center>
{{{body}}}
</body>
</html>